:root {
  --primary-color: #d1c3c3;
  --secundary-color: #363434;
  --tertiary-color: #03e5f9;
  --quaternary-color: rgb(6, 22, 249);
  --fifth-color: #666161;
  --sixth-color: #3634348e;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  background-color: var(--primary-color);
}

body {
  width: 85vw;
  font-family: "Courier New", Courier, monospace;
  text-align: justify;
  margin: 0 auto;
  min-height: 100vh;
}

img {
  border: 1px solid var(--secundary-color);
  max-width: 100%;
}

video {
  border: 1px solid var(--secundary-color);
}

.websiteTitle {
  font-size: 5rem;
  color: var(--secundary-color);
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 3rem;
  color: var(--secundary-color);
  margin: 8px 8px 8px 0;
  padding: 8px 8px 8px 0;
}

h3 {
  font-size: 2rem;
  color: var(--secundary-color);
  margin: 7px 7px 7px 0;
  padding: 7px 7px 7px 0;
}

h4 {
  font-size: 1.2rem;
  color: var(--secundary-color);
  margin: 3px 3px 3px 0;
  padding: 3px 3px 3px 0;
}

.subtitle {
  font-size: 1.5rem;
  color: var(--secundary-color);
  margin: 0px;
  padding: 0px;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: var(--tertiary-color);
    font-style: italic;
  }
}

.figureSidebar {
  margin: 0;
  display: flex;
  align-items: center;
}

figcaption {
  display: inline;
}

.header {
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title {
  padding: 5px;
  margin: 5px;
}

.banner {
  height: 15vh;
  margin: 10px;
}

.navbar {
  background-color: var(--secundary-color);
  height: 50px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;

  & ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  & > ul > li {
    display: inline-block;
    position: relative;
  }

  & a {
    padding: 0 30px;
  }
}

.subNavbar {
  background-color: var(--fifth-color);
  position: absolute;
  z-index: 1;
  display: none;
  text-align: left;
  width: 180px;
  & a {
    padding: 10px;
    display: block;
  }
}

.navbar ul li:hover .subNavbar {
  display: block;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  min-height: 69vh;
  padding: 5px;
}

.sidebarLeft {
  font-size: 2rem;
  padding: 5px 10px 5px 5px;
  border-right: 1px solid var(--secundary-color);

  & a {
    color: var(--secundary-color);

    &:hover {
      color: var(--quaternary-color);
      font-style: italic;
    }
  }
}

.thumbnail {
  width: 25px;
  margin: 10px;
}

.article {
  padding: 5px 10px;
}

.sidebarRight {
  padding: 5px 5px 5px 10px;
  border-left: 1px solid var(--secundary-color);

  & a {
    color: var(--secundary-color);

    &:hover {
      color: var(--quaternary-color);
      font-style: italic;
    }
  }
}

.footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secundary-color);
  color: var(--primary-color);
  font-size: 1.2rem;

  & a {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 1500px) {
  body {
    width: 100vw;
  }
}

@media only screen and (max-width: 1200px) {
  .sidebarLeft {
    grid-area: sl;
  }

  .article {
    grid-area: at;
  }

  .sidebarRight {
    grid-area: sr;
  }

  .gridContainer {
    grid-template-areas:
      "sl at at at"
      "sr sr sr sr";
  }

  .sidebarRight {
    border-left: none;
    border-top: 1px solid var(--secundary-color);
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (max-width: 800px) {
  .navbar a {
    padding: 0 5px;
  }

  .websiteTitle {
    font-size: 3.5rem;
  }

  .gridContainer {
    grid-template-areas:
      "at at at at"
      "sl sl sl sl"
      "sr sr sr sr";
  }

  .sidebarLeft {
    border-right: none;
    border-top: 1px solid var(--secundary-color);
    margin-top: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .banner {
    height: 7.5vh;
  }

  .navbar {
    font-size: 1.5rem;
  }
}
